/* HEADER */

header {
  background-color: #313955;
}

header .logo a {
  background: url("../img/logo_white.svg") no-repeat;
}

header .main-menu li a {
  color: #fff;
}

.main-menu .submit-btn a {
  color: #000;
}

/* COMMON */

.about-inner {
  width: 1080px;
  margin: 0 auto;
  padding-top: 140px;
}

.about-title {
  padding: 51px 0px 33px;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

.title-bar {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 60px;
}

/* SHAPE */

.consortium-contents {
}

.img-field {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #e6e6e6;
}

.circlebg {
  background-image: url(../img/bg_circle.png);
  background-size: 590px 570px;
  background-position: 0 -240px;
  width: 590px;
  height: 330px;
  margin-top: 40px;
}

.bg-content {
  display: flex;
  font-size: 21px;
  line-height: 34px;
  text-align: center;
  color: #000;
}

.text-content1 {
  width: 220px;
  padding: 130px 60px 0 30px;
}

.text-content2 {
  width: 220px;
  padding-top: 130px;
}

.content-field {
  margin-bottom: 130px;
}

.content-field .financial,
.lifebanking {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 60px 0 20px 300px;
}

.content-field h4 {
  font-size: 18px;
  color: #000;
  margin: 125px 200px 0 -280px;
  font-weight: normal;
}

.content-field .financial h4 {
  margin-right: 260px;
}

.financial .subtitle-financial {
}

.logo-wrapping {
  width: 740px;
  height: 315px;
}

.logo-wrapping ul {
  display: flex;
}

.company-logo {
  background-image: url("../img/logo_company_20191210.png");
  background-size: 240px 480px;
  width: 240px;
  height: 40px;
  margin: 0 100px 60px 0;
}

.company-description {
  font-size: 12px;
  line-height: 29px;
  color: #666;
  font-style: normal;
  font-weight: lighter;
  margin-top: 38px;
}

.company-logo.logo2 {
  background-position: 0 -445px;
}

.company-logo.logo3 {
  background-position: 0 -50px;
}

.company-logo.logo4 {
  background-position: 0 -100px;
}

.company-logo.logo5 {
  background-position: 0 -150px;
}

.company-logo.logo6 {
  background-position: 0 -200px;
}
.company-logo.logo7 {
  background-position: 0 -250px;
}
.company-logo.logo8 {
  background-position: 0 -300px;
}
.company-logo.logo9 {
  background-position: 0 -350px;
}
.company-logo.logo10 {
  background-position: 0 -400px;
}

.lifebanking {
  padding-bottom: 30px;
}
