/* COMMON */
html,
body {
    font-family: "Yoon 윤고딕", "sans-serif";
}

.body--container {
    font-size: 15px;
    font-weight: 400;
    color: #666;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* FLOAT */

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* SECTION & INNER */
.section {
    position: relative;
}

.section .inner {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/* BUTTON */

.info-btn {
    display: block;
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
header {
    width: 100%;
    background: #fff;
    height: 81px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .header-wrap {
    height: 80px;
    width: 1080px;
    margin: 0 auto;
}

header .menu-group {}

header .logo {
    line-height: 80px;
}

header .logo a {
    background: url("../img/logo_black.svg") no-repeat;
    display: inline-block;
    width: 116px;
    height: 20px;
    font-size: 0;
    text-indent: -9999px;
    vertical-align: middle;
}

header .main-menu {
    display: flex;
    align-items: center;
    line-height: 44px;
    font-size: 15px;
    vertical-align: middle;
}

.main-menu li {
    display: block;
    padding: 0 10px;
    line-height: 80px;
    min-width: 80px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 10px;
    font-size: 15px;
    text-align: center;
}

.main-menu li a {
    color: #000;
    vertical-align: middle;
}

.main-menu li.submit-btn {
    display: inline-block;
    line-height: 44px;
    height: 46px;
    font-size: 14px;
    border-radius: 22px;
    padding: 0 20px;
    background: #fede22;
    border: 1px solid #fede22;
}

.main-menu li a:hover {
    text-decoration: underline;
}

/* VISUAL */
.section-visual {}

.intro {}

.intro h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
    color: #111;
}

.intro h3 {
    display: block;
    margin: 45px 0 17px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.intro p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}

.intro a {
    color: #333;
}

.intro img {
    width: 100%;
}

.intro .intro1 {
    background-color: #fede22;
}

.intro .intro1 .intro1-wrap {
    position: relative;
    width: 1200px;
    height: 720px;
    margin: 0 auto;
}

.intro .intro1 .intro1-wrap .intro1-content {
    position: absolute;
    top: 215px;
    left: 90px;
}

.intro .intro1 .intro1-wrap .intro1-content h2 {
    font-size: 49px;
    line-height: 1.35;
    color: #333;
}

.intro .intro1 .intro1-wrap .intro1-content p {
    font-size: 17px;
    line-height: 1.8;
    color: #111;
}

.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box {
    display: flex;
    margin-top: 70px;
}

.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box a {
    width: 178px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 12px;
    font-size: 16.2px;
    font-weight: bold;
    line-height: 56px;
    color: #333;
    background: #fff;
    text-align: center;
}

.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box a:nth-of-type(1) {
    margin-right: 12px;
}

.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box a .googleplay-icon,
.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box a .appstore-icon {
    display: inline-block;
    background-image: url("../img/img_kabang_sprite.png");
    background-size: 420px 390px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: -2px 10px 0 0;
}

.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box a .googleplay-icon {
    background-position: -341px -292px;
}

.intro .intro1 .intro1-wrap .intro1-content .intro1-btn-box a .appstore-icon {
    background-position: -371px -292px;
    margin-top: -4px;
}


.intro .intro9-content {
    display: flex;
}


.intro .intro9 .intro-subtitle {
    display: block;
}

.intro .intro9 p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #666;
    font-weight: 200;
}

/* FOOTER */
.policy {
    display: flex;
    font-size: 12px;
}

.policy li {
    display: block;
    padding: 37px 0 12px;
    color: #666;
    font-size: 12px;
    border-right: #d8d8d8;
}

.policy li a {
    color: #666;
}

.contact {
    display: flex;
    color: #666;
    font-size: 12px;
}

.contact li {
    display: block;
}

.access {}

.access li {
    display: flex;
}

.access .access-sns {
    display: block;
    font-size: 0;
}