/* HEADER */

header {
    background-color: #313955;
}

header .logo a {
    background: url("../img/logo_white.svg") no-repeat;
}

header .main-menu li a {
    color: #fff;
}

.main-menu .submit-btn a {
    color: #000;
}

/* COMMON */

.notice-inner {
    width: 1080px;
}

/* NOTICE TABLE */

.notice-title {
    padding: 132px 0 33px;
    font-size: 27px;
    font-style: normal;
    font-weight: normal;
    color: #000;
}

.title-bar {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 60px;
}